name: CI

on:
  push: ~

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          extensions: none, curl, dom, mbstring, simplexml, tokenizer, xml, xmlwriter
          coverage: none
      - run: composer install --no-progress
      - run: composer verify
